[core]
	editor = vim -f
	excludesfile = /Users/charles/.gitignore_global
[user]
	name = Charles Ellis
	email = hamled@hamled.name
[github]
	user = Hamled
[alias]
	c = commit
	b = branch
	co = checkout
	ls = status
	diffs = diff --staged
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	compactionHeuristic = true
[pager]
	log = "diff-so-fancy | less --tabs=4 -RFX"
	show = "diff-so-fancy | less --tabs=4 -RFX"
	diff = "diff-so-fancy | less --tabs=4 -RFX"
[interactive]
	diffFilter = "diff-so-fancy --patch-mode | less --tabs=4 -RFX"
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[hub]
	protocol = ssh
