[core]
	editor = vim -f
[user]
	name = Charles Ellis
	email = hamled@hamled.name
[github]
	user = Hamled
[alias]
	c = commit
	b = branch
	co = checkout
	ls = status
	diffs = diff --staged
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
